@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Get your party started!</h2>
        <div class="btn-group">
            <a class="btn btn-lg btn-default" href="@Url.Action("Index", "PartyPlanner")">Party on Dude!</a>
        </div>
    </div>
</div>